{#
    Blog Post style: Sidebar
    Two columns: content left (70%) + sidebar right (30%) with author, categories, tags.
    Sidebar becomes bottom section on mobile.
#}
{% extends '@ItechWorldSuluTailwindTheme/articles/common/_article_base.html.twig' %}

{% block article_hero %}
    {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_hero.html.twig' with {
        image: content.heroImage|default(null),
        style: 'contained',
    } only %}
{% endblock %}

{% block article_header %}
    <header class="article-header mb-6">
        <h1 class="font-[var(--font-family-heading)] text-[var(--font-size-h1)] font-[var(--font-h1-weight)] leading-[var(--line-height-h1)] mb-4" itemprop="headline">
            {{ content.title }}
        </h1>
        {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_meta.html.twig' with {
            date: content.datePublished|default(null),
            authors: content.authors|default([]),
            readingTime: content.readingTime|default(null),
            showCategories: false,
            compact: true,
        } only %}
    </header>
{% endblock %}

{% block article_meta %}{% endblock %}

{% block article_content %}
    <div class="grid grid-cols-1 lg:grid-cols-10 gap-10 mt-8">
        {# Main content (70%) #}
        <div class="lg:col-span-7">
            {% if content.blocks is defined and content.blocks is iterable %}
                {% for contentBlock in content.blocks %}
                    {% set blockType = contentBlock.type|default('text') %}
                    {% set blockStyle = contentBlock.style|default('') %}
                    {% set defaultStyles = {'text': 'one_column', 'text_images': 'classic', 'gallery': 'grid', 'cta': 'centered', 'testimonial': 'default', 'document': 'default', 'separator': 'default'} %}
                    {% if blockStyle is empty %}
                        {% set blockStyle = defaultStyles[blockType]|default('default') %}
                    {% endif %}
                    {% set templatePath = '@ItechWorldSuluTailwindTheme/blocks/' ~ blockType ~ '/_style_' ~ blockStyle ~ '.html.twig' %}
                    {% set fallbackPath = '@ItechWorldSuluTailwindTheme/blocks/' ~ blockType ~ '/_style_' ~ defaultStyles[blockType]|default('default') ~ '.html.twig' %}
                    {% include [templatePath, fallbackPath] ignore missing with contentBlock %}
                {% endfor %}
            {% endif %}
        </div>

        {# Sidebar (30%) #}
        <aside class="lg:col-span-3">
            <div class="lg:sticky lg:top-4 space-y-8">
                {# Author card #}
                {% if content.authors is defined and content.authors is iterable and content.authors|length > 0 %}
                    <div class="p-5 rounded-[var(--border-radius)] bg-[var(--color-background-100)]">
                        <h3 class="text-xs uppercase tracking-wide text-[var(--color-secondary-500)] font-semibold mb-4">
                            {{ 'iw_sulu_tailwind_theme.article.about_author'|trans }}
                        </h3>
                        {% for author in content.authors %}
                            {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_author.html.twig' with {
                                author: author,
                                size: 'lg',
                            } only %}
                        {% endfor %}
                    </div>
                {% endif %}

                {# Categories #}
                {% if content.excerptCategories is defined and content.excerptCategories|length > 0 %}
                    <div>
                        <h3 class="text-xs uppercase tracking-wide text-[var(--color-secondary-500)] font-semibold mb-3">
                            {{ 'iw_sulu_tailwind_theme.article.sidebar_categories'|trans }}
                        </h3>
                        {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_categories.html.twig' with {
                            categories: content.excerptCategories,
                        } only %}
                    </div>
                {% endif %}

                {# Tags #}
                {% if content.excerptTags is defined and content.excerptTags|length > 0 %}
                    <div>
                        <h3 class="text-xs uppercase tracking-wide text-[var(--color-secondary-500)] font-semibold mb-3">
                            {{ 'iw_sulu_tailwind_theme.article.sidebar_tags'|trans }}
                        </h3>
                        {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_tags.html.twig' with {
                            tags: content.excerptTags,
                        } only %}
                    </div>
                {% endif %}

                {# Related articles in sidebar #}
                {% if content.relatedArticles is defined and content.relatedArticles is iterable and content.relatedArticles|length > 0 %}
                    <div>
                        <h3 class="text-xs uppercase tracking-wide text-[var(--color-secondary-500)] font-semibold mb-3">
                            {{ 'iw_sulu_tailwind_theme.article.related_articles'|trans }}
                        </h3>
                        <div class="space-y-4">
                            {% for article in content.relatedArticles|slice(0, 3) %}
                                {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_card.html.twig' with {
                                    article: article,
                                    showExcerpt: false,
                                    showCategory: false,
                                    layout: 'horizontal',
                                    imageRatio: '1/1',
                                } only %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </aside>
    </div>
{% endblock %}

{% block article_footer %}{% endblock %}
{% block article_related %}{% endblock %}
