<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ content.title|default('') }}{% endblock %}</title>

    {% block meta %}
        {{ include('@SuluWebsite/Extension/seo.html.twig', {
            seo: extension.seo|default([]),
            content: content|default([]),
            localizations: localizations|default([]),
            shadowBaseLocale: shadowBaseLocale|default(),
        }) }}
    {% endblock %}

    {# Theme: Google Fonts #}
    {{ iw_sulu_theme_fonts_link()|raw }}

    {# Theme: compiled CSS custom properties #}
    {% set themeCssPath = iw_sulu_theme_css_path() %}
    {% if themeCssPath is not empty %}
        <link rel="stylesheet" href="{{ themeCssPath }}">
    {% endif %}

    {% block style %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
</head>
<body class="bg-[var(--color-background)] text-[var(--color-text)]">
    {# Theme: dynamic menu #}
    {% set menuConfig = iw_sulu_theme_menu_config() %}
    {% block header %}
        {% if menuConfig is not empty and menuConfig.type is defined %}
            {% include '@ItechWorldSuluTheme/menu/_' ~ menuConfig.type ~ '.html.twig' with {config: menuConfig} %}
        {% else %}
            <header>
                <nav class="container mx-auto px-4 py-4">
                    <ul class="flex gap-4">
                        <li><a href="{{ sulu_content_root_path() }}">Home</a></li>
                        {% for item in sulu_page_navigation_root_tree('main', 1, {title: 'title', url: 'url'}) %}
                            <li>
                                <a href="{{ sulu_content_path(item.url) }}" title="{{ item.title }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
        {% endif %}
    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block javascripts %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
</body>
</html>
